* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.head {
  z-index: 323;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding: 0 0.7rem;
}
.head a:nth-of-type(1) {
  width: 2.7rem;
}
.head a:nth-of-type(1) img {
  width: 100%;
}
.head form {
  width: 70%;
  height: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.5rem;
  background: white;
  padding: 0 0.35rem;
  border-radius: 0.5rem;
}
.head form input {
  width: 90%;
}
.head form img {
  width: 0.75rem;
  height: 0.85rem;
}
.head a:nth-of-type(2) {
  width: 1.2rem;
  color: #FFFFFF;
}
.head a:nth-of-type(2) img {
  width: 100%;
}

input::-webkit-input-placeholder {
  font-size: 0.6rem;
  color: lightgray;
}

.banner {
  width: 100%;
  height: 8.75rem;
  overflow: hidden;
  position: relative;
}
.banner .tu {
  width: 500%;
  height: 100%;
  position: absolute;
}
.banner .tu li {
  list-style: none;
  float: left;
  width: 20%;
  height: 100%;
}
.banner .tu li img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.banner .dian {
  width: 40%;
  height: 10%;
  position: absolute;
  z-index: 2;
  top: 90%;
  left: 36%;
}
.banner .dian li {
  width: 0.4rem;
  height: 0.4rem;
  list-style: none;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  float: left;
  margin-left: 10%;
}

.nav {
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding-top: 1rem;
  background: white;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav ul li {
  width: 25%;
  text-align: center;
  position: relative;
}
.nav ul li a {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav ul li a i {
  display: block;
  width: 2.25rem;
}
.nav ul li a i img {
  width: 100%;
}
.nav ul li a span {
  font-size: 0.6rem;
  display: block;
  margin-top: 0.4rem;
  margin-bottom: 1.2rem;
}

.ding {
  position: absolute;
  left: 50%;
  color: white;
  background: #FF7F00;
  font-style: normal;
  top: -0.6rem;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.container {
  overflow: auto;
  flex-grow: 1;
  background: #f5f5f5;
}
.container .con-one {
  width: 100%;
  margin-top: 0.2rem;
}
.container .con-one ul {
  display: flex;
}
.container .con-one ul li {
  padding: 1rem 1.2rem 0.6rem;
  width: calc(100%/3);
  text-align: center;
  background: #FFFFFF;
  border-top: 0.01rem solid #f0f0f0;
  border-right: 0.01rem solid #f0f0f0;
  border-bottom: 0.01rem solid #f0f0f0;
}
.container .con-one ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.container .con-one ul li a i {
  width: 3.3rem;
  height: 2rem;
}
.container .con-one ul li a i img {
  width: 100%;
  height: 100%;
}
.container .con-one ul li a span {
  font-size: 0.6rem;
  margin-top: 0.8rem;
}
.container .con-one ul li a .con-yd {
  color: #E55E54;
}
.container .con-one ul li a .con-wx {
  color: #42BE63;
}
.container .con-one ul li a .con-sq {
  color: #75BAE5;
}
.container .con-one ul li:last-child {
  border-right: none;
}
.container .con-two {
  width: 100%;
  display: flex;
}
.container .con-two div {
  width: 50%;
  background: white;
  padding: 0.6rem 0.6rem 0.2rem;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.container .con-two div img {
  width: 100%;
}
.container .con-two div:last-child {
  border-right: none;
}
.container .con-three {
  width: 100%;
  margin-top: 0.2rem;
}
.container .con-three ul {
  display: flex;
}
.container .con-three ul li {
  width: 33.33%;
  background: white;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1.2rem 0.6rem;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.container .con-three ul li a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.container .con-three ul li a i {
  width: 3.3rem;
  height: 3rem;
}
.container .con-three ul li a i img {
  width: 100%;
  height: 100%;
}
.container .con-three ul li a span {
  font-size: 0.6rem;
}
.container .con-three ul li:last-child {
  border-right: none;
}
.container .con-three ul li:nth-of-type(1) {
  width: 5.2rem;
}
.container .con-three ul li:nth-of-type(2) {
  width: 9.1rem;
}
.container .con-three ul li:nth-of-type(3) {
  width: 6.3rem;
}
.container .con-four {
  width: 100%;
  display: flex;
  background: white;
}
.container .con-four .con-four-left {
  background: url(../img/index_qnav_ds.png) no-repeat;
  background-size: 50%;
  background-position-x: 4.9rem;
  background-position-y: 0.8rem;
  padding: 0.8rem 0 1.8rem;
  padding-left: 0.7rem;
  width: 60%;
}
.container .con-four .con-four-left a div {
  color: #2ED092;
  font-size: 0.7rem;
}
.container .con-four .con-four-left a p {
  color: lightgray;
  width: 7.2rem;
  font-size: 0.5rem;
  letter-spacing: 1px;
}
.container .con-four .con-four-right {
  width: 40%;
  padding: 0.8rem 0 0.6rem 0;
}
.container .con-four .con-four-right ul li {
  width: 100%;
  display: flex;
  align-items: center;
}
.container .con-four .con-four-right ul li div:nth-of-type(1) {
  width: 2rem;
  margin-right: 0.4rem;
}
.container .con-four .con-four-right ul li div:nth-of-type(1) img {
  width: 100%;
}
.container .con-four .con-four-right ul li div:nth-of-type(2) {
  line-height: 1rem;
  display: flex;
  flex-direction: column;
}
.container .con-four .con-four-right ul li div:nth-of-type(2) a {
  color: gray;
  font-weight: bold;
}
.container .con-four .con-four-right ul li div:nth-of-type(2) i {
  padding-left: 0.4rem;
  font-style: normal;
  color: lightgray;
  font-size: 0.4rem;
}
.container .con-four .con-four-right ul li:last-child {
  padding-bottom: 0;
}
.container .content-head {
  width: 100%;
  margin-top: 0.25rem;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.container .content-head .h2 {
  padding: 0.6rem 0;
  border-left: 0.25rem solid #ff9804;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.05rem solid #f0f0f0;
}
.container .content-head .h2 h2 {
  color: #ff9804;
  padding-left: 0.5rem;
}
.container .content-head .content-con {
  width: 100%;
  padding: 0 0.4rem;
}
.container .content-head .content-con ul {
  display: flex;
  flex-direction: column;
}
.container .content-head .content-con ul li {
  padding: 0.5rem 0;
  display: flex;
  border-bottom: 0.05rem solid #f0f0f0;
}
.container .content-head .content-con ul li div:nth-of-type(1) {
  padding: 0 0.4rem;
}
.container .content-head .content-con ul li div:nth-of-type(2) p {
  padding: 0.6rem 0 0.8rem 0;
  color: #999999;
}
.container .content-head .content-con ul li div:nth-of-type(2) div {
  display: flex;
  justify-content: space-between;
}
.container .content-head .content-con ul li div:nth-of-type(2) div i {
  color: #ff4351;
  font-style: normal;
}
.container .content-head .content-con ul li div:nth-of-type(2) div span {
  color: #7c7c7c;
}
.container .iscorll {
  width: 100%;
  padding: 0.9rem 0;
  text-align: center;
  color: #666666;
  background: #FFF;
}

footer {
  width: 100%;
  padding: 0.4rem 0;
  border-top: 1rem solid #e8e8e8;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul li:nth-of-type(1) a span {
  color: #FF2F4F;
}
footer ul li {
  width: 20%;
  text-align: center;
}
footer ul li a {
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer ul li a i {
  display: block;
  width: 1.1rem;
}
footer ul li a i img {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
