* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  flex-direction: column;
  display: flex; }

header {
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.25rem;
  width: 100%;
  background: white;
  box-shadow: 0 2px 0 0 lightgray; }
  header span {
    font-size: 0.9rem; }
  header a:nth-of-type(1) {
    margin-left: 0.8rem; }
  header a:nth-of-type(2) {
    margin-right: 0.6rem; }

input::-webkit-input-placeholder {
  font-size: 0.6rem; }

form {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.7rem; }
  form .f {
    position: relative;
    height: 2.5rem;
    width: 100%;
    box-shadow: 0 2px 0 0 lightgray;
    background: white;
    margin-bottom: 0.7rem;
    line-height: 2.51rem;
    font-size: 0.6rem; }
    form .f .nn {
      position: absolute;
      right: 0.5rem;
      margin-top: 0.3rem; }
    form .f #left {
      display: block;
      float: left;
      padding-left: 0.4rem;
      padding-right: 0.3rem;
      border-right: 1px solid lightgray; }
    form .f input {
      width: 12rem;
      height: 100%;
      float: left;
      padding: 0 0.5rem; }
    form .f .inp {
      font-size: 0.6rem;
      color: #A9A9A9; }
  form .f:nth-of-type(7) {
    margin-bottom: 1.4rem; }
    form .f:nth-of-type(7) #yz {
      width: 45%;
      height: 100%;
      float: left;
      padding: 0 0.5rem; }
    form .f:nth-of-type(7) .f-hq {
      float: right;
      height: 100%;
      width: 5rem;
      background: #13AEEE;
      display: flex;
      align-items: center;
      justify-content: center; }
      form .f:nth-of-type(7) .f-hq span {
        color: gray;
        border: none 0;
        padding-left:0.5rem;
        display: block; }
      form .f:nth-of-type(7) .f-hq input {
        font-size: 0.6rem;
        color: white; }
  form .zc {
    display: flex;
    justify-content: center;
    margin-bottom: 0.9rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem; }
    form .zc input {
      height: 2.25rem;
      width: 19.9rem;
      background: #FF3752;
      color: white;
      border-radius: 5px; }
  form .friendlink .xy {
    display: flex;
    justify-content: space-between;
    width: 19.9rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem; }
    form .friendlink .xy span {
      color: #AFAAAB;
      font-size: 0.6rem; }
      form .friendlink .xy span a {
        font-size: 0.6rem;
        color: #6A6A6A;
        font-weight: 500; }
  form .friendlink .di {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-top: 1.6rem;
    margin-bottom: 1.3rem; }
    form .friendlink .di span:nth-of-type(1) {
      border-bottom: 1px solid lightgray;
      height: 1px;
      display: block;
      width: 6rem; }
    form .friendlink .di span:nth-of-type(2) {
      display: block;
      font-size: 0.7rem; }
    form .friendlink .di span:nth-of-type(3) {
      border-bottom: 1px solid lightgray;
      height: 1px;
      display: block;
      width: 6rem; }
  form .friendlink .qw {
    display: flex;
    justify-content: center; }
    form .friendlink .qw a {
      display: block;
      width: 1.9rem;
      height: 1.9rem; }
      form .friendlink .qw a img {
        width: 100%;
        height: 100%; }

footer {
  width: 100%;
  height: 2.8rem;
  z-index: 20;
  background: #FFFFFF;
  padding-top: 0.4rem; }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 2.8rem;
    width: 100%; }
    footer ul li {
      text-align: center;
      width: 20%; }
      footer ul li:last-child {
        border: none; }
      footer ul li img {
        height: 1.1rem;
        width: 1.1rem; }
      footer ul li p {
        font-size: 0.6rem; }

/*# sourceMappingURL=zc.css.map */
